
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button id="btnInicial" class="btn btn-default">Carga Inicial</button>

@section scripts{
    <script>
        $('#btnInicial').click(function () {
            ExecuteAjax('@Url.Action("CreateInical")',"POST",fncEjec,true);
        });
        function fncEjec(data) {
            alert('Se ejecuto');
        }
    </script>
    }